// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Varaibles
$primary: #3CE2AD;
$warning: #FFEB64;
$font-family-sans-serif: 'Lato', sans-serif;

// Bootrstrap
@import "~bootstrap/scss/bootstrap";

// Css
.navbar {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &.bg-light {
        background: $white !important;
    }
    .navbar-brand {
        background-image: url(/dist/image/dmenta.svg);
    }
}

main {
    margin: 0 0 5rem;
}


aside {
    color: $white;
    padding-top: 4rem;
    padding-bottom: 16rem;
    background: $primary;
    a {
        color: $white !important;
    }
}

footer.site-footer {
    text-align: right;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: $primary;
    small {
        font-style: italic;
    }
}

main,
aside {
    a {
        color: $body-color;
        text-decoration: none;
        border-bottom: 0.3rem solid $warning;
    }
}