$primary: #3CE2AD;

@import "~bootstrap/scss/bootstrap";

.navbar {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &.bg-light {
        background: $white;
    }
}

main {
    margin: 0 0 5rem;
}


aside {
    padding-top: 4rem;
    padding-bottom: 16rem;
    background: $primary;
}

footer.site-footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: $primary;
}