// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Variables
$primary: #3CE2AD;
$secondary: #6945ED;
$warning: #FFEB64;
$body-color: #3F404D;

$font-family-sans-serif: 'Lato', sans-serif;

// Bootrstrap
@import "~bootstrap/scss/bootstrap";

// Css
.navbar {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &.bg-light {
        background: $white !important;
    }
    .navbar-brand {
        width: 14rem;
        outline: 0;
        text-indent: -4000px;
        background: url(../img/dmenta.svg) 0 0 no-repeat;
    }
    .nav-item.current-menu-item {
        a {
            font-weight: bold;
        }
    }
}

main {
    margin: 0 0 5rem;
    h2.fs-3 {
        margin-bottom: 3rem;
    }
}


.blog,
.archive {
    .post {
        padding: 2rem 2rem 4rem 3rem;
        border-left: 1px solid $gray-400;
        header {
            position: relative;
            &:before {
                color: $primary;
                content: "•";
                position: absolute;
                top: 0;
                left: -3.5rem;
                font-size: 1.5rem;
            }
            h3 {
                font-weight: bold;
            }
        }
        .entry-date {
            position: absolute;
            top: 0.5rem;
            left: -7.5rem;
            text-align: right;
            font-style: italic;
            font-size: 0.8rem;
            color: $gray-600;
            width: 3rem;
            line-height: 1.1;
            text-transform: uppercase;
        }
        .entry-content {
            font-size: 1.15rem;
            color: $gray-600;
        }
        // Status
        &.format-status {
            padding-top: 1rem;
            padding-bottom: 3rem;
            padding-left: 1.8rem;
            color: $gray-600;
            header {
                &:before {
                    color: $gray-600;
                    content: "○";
                    top: -0.5rem;
                    left: -2.25rem;
                }
                h3 {
                    font-weight: normal;
                    font-style: italic;
                    font-size: 1rem;
                }
            }
        }

        // Link LAB
        &.format-link {
            padding-bottom: 3rem;
            header {
                &:before {
                    color: $secondary;
                }
                h3 {
                    font-size: 1.5rem;
                    padding-top: 0.2rem;
                    a {
                        border-color: $secondary;
                    }
                }
            }
        }

        // Normal
        &.format-standard,
        &.format-aside {
            header {
                h3 {
                    font-size: 2rem;
                }
            }
            .more {
                border: 0;
                color: $primary;
            }
        }
    }
}

.blog {
    .post {
        .entry-date {
            top: .74rem;
        }
    }
}

.archive {
    .post {
        header {
            &:before {
                color: $secondary;
            }
            h3 {
                font-size: 1.5rem;
                padding-top: 0.2rem;
            }
        }
    }
}



aside {
    color: $white;
    padding-top: 4rem;
    padding-bottom: 16rem;
    background: $primary;
    a {
        color: $white !important;
    }
}

footer.site-footer {
    text-align: right;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: $primary;
    small {
        font-style: italic;
    }
}

main,
aside {
    a {
        color: $body-color;
        text-decoration: none;
        border-bottom: 0.3rem solid $warning;
    }
}


.category-9,
.page-id-23 {
    footer.site-footer,
    aside {
        background: $secondary;
    }
}